body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  display: none;
 }

/*HEADER*/

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(203, 178, 106)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 
}

.custom-toggler.navbar-toggler {
  border-color: none;
}

#logo-image{
  width: 300px;
}

#header-open{
  color: rgba(203, 178, 106);
  font-family:'Times New Roman', Times, serif;
}



#bigger {
  width: 50px;
  height: 50px;
}

#offcanvasNavbar{
  background-color: black;
  color: rgba(203, 178, 106);
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}

#body-text{
  color: rgba(203, 178, 106);
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

#background{
  background-color: black;
}

#close{
  color: rgba(203, 178, 106);
  color: rgba(203, 178, 106);
}

/*Open*/

.links{
  color: rgba(203, 178, 106);
}

#open-logo{
  width: 700px;
}

#click{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(203, 178, 106);
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.3s;
}

#click:hover{
  color: white;
    text-shadow: 2px 2px 4px #be9e44;
}

/*WHO*/

#open-heading{
  color: rgba(203, 178, 106);
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
}


